body {
  font-family: sans-serif;
  padding: 2rem;
  background-color: #121212;
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

#ton-connect {
  display: flex;
  justify-content: center;
}
